form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registr-modal{
    display: none;
    position: relative;
    padding: 50px;
    background-color: rebeccapurple;
    width: 500px;
    margin-left: 500px;
    z-index: 50;
}
.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.page{
    display: none;
}